@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.top {
    height: 4vh;
    text-align: center;
    padding-top: 1vh;
}

.textarea {
    width: 50%;
    height: 90%;
    text-align: center;
    float: left;
}

textarea {
    width: 90%;
    height: 90vh;
}